<main class="main font">
  <h1 id="heading">Tomam un Robertai </h1>

  <img class="limit_to_div full_page" src="assets/img/rings.jpeg">
  <div>

    <p> Apvsveicam! Jūs esat izveidojuši stipru kommandu: burvis un dziednieks. Nekas nevarēs stāvēt jums priekšā
      (varbūt barbars,
      jūsu kompozīcija ir diezgan trausla).
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/wizard.jpeg">
  <img class="limit_to_div full_page" src="assets/img/healer.jpg">
  <div>
    <p>
      Kad iesiet savā piedzīvojumā, Toma spējas izdomāt risinājumu jebkurai problēmai būs nenovērtējamas, un
      Robertas spējas novērst jebkuru kaiti, mentālu vai fizisku, izmantojot savas kūkas, būs ļoti noderīgas.
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/high-five.jpg">
  <div>
    <p>
      Tomēr vienalga, cik laba ir komanda, vienmēr pirms piedzīvojuma vajag sagatavoties, tapēc ļaujiet mums piedāvāt
      īsu
      darāmo
      darbu sarakstu:
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/list.jpeg">
  <div>
    <p>
      1. Tagad tas ir oficiāli. Ir svarīgi pasaulei paziņot, ka jūs esat abi vienā komandā un ka nevienu citu jūs
      nemeklējat. Ir laiks spert drastisku soli uz priekšu - ir laiks nomainīt savu facebook statusu. Ja tas jau ir
      drošsirdīgi izdarīts, var ķerties pie nākamā soļa!
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/facebook.png">
  <div>
    <p>
      2. Tagad cilvēki skatās uz jums kā vienu vienību. Ir svarīgi nodibināt šīs vienības nosaukumu. Nosaukums ir
      ļoti svarīgs, tam jābūt viegli izrunājamam, un jāsignalizē par jūsu kopību. Vienības nosaukuma izdomāšana ir
      pilnīgi
      jūsu rīcībā, bet ja ir grūti izdomāt un šis solis jūs attur no progresa, tad ļaujiet mums palīdzēt! Šeit ir pāris
      ieteikumi:
    </p>
    <ol>
      <li>Toberta</li>
      <li>Ernerta</li>
      <li>Roms</li>
      <li>Robms</li>
      <li>Roberoms</li>
      <li>Robnests</li>
    </ol>
  </div>
  <img class="limit_to_div full_page" src="assets/img/dndPlan.jpeg">
  <div>
    <p>
      3. Viss, ar šo dienu otram cilvēkam nav nekādas izvēles, vairs aizbēgt prom nevar! Tapēc ir perfekts laiks atklāt
      savu noslēpumu, vai jocīgo fetišu, kuru turējāt pie sevis visu šo laiku aiz bailēm, ka otrs komandas biedrs jūs
      pametīs vienu pašu, vai varbūt ir kaut kāda pumpa, kuru ir izdevies visu šo laiku noslēpt. Vienalga, kas tas būtu
      ir
      laiks to atklāt. Atklātība nostiprina uzticību un uzticība ir svarīga jebkurā gadījumā, vai nu jums būtu
      jāiznīcina
      pūķis vai jāiznīcina kredīta maksājumi dzīvoklim. Ja jūs visu izstāstījāt, varat doties uz nākamo soli.
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/whispering.jpeg">
  <div>
    <p>
      4. Jebkāda veida darbs cilvēku rases pārstāvim izraisa nogurumu, vai nu tā būtu maģisko burvestību burošana, dziru
      dzirošana, datubāžu bāzošana vai arī likumu likumošana. Tapēc cilvēku rases pārstāvjiem ir nepieciešama atpūta (es
      nesaprotu kapēc jūs izvēlējāties cilvēku rasi - elfi ir krutāki). Atcerieties, ka dažreiz šo atpūtas laiku vajag
      pavadīt kopā, tas iedod papildu bonusu priekam un nostiprina komandas sadarbību. Ja apsolat, ka iesiet ik pa
      laikam
      uz randiņiem, varat doties tālāk.
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/whineGlass.jpeg">
  <div>
    <p>
      5. Tas ir viss. Ja jūs šos soļus izpildīsiet, jums būs lielākas iespējas izdzīvot bīstamajā Latvijas savvaļā.
      Novēlam
      jums garu, produktīvu un priekiem pilnu sadarbību.
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/youDidIt.jpeg">
  <div>
    <p>
      Pirms es aizmirstu - katrā apsveikumā jābūt labam pantiņam:
    </p>
    <p>
      Šodien Jūsu kāzu dienā sveicam Jūs no sirds! <br>
      Lai Jums vienmēr tā kā šodien acis laimē mirdz. <br>
      Gaiša lai Jums dzīves taka, dzīves ceļš lai jauks. <br>
      Vienmēr cieši ejiet blakus un viens otram esiet draugs! <br>
    </p>
  </div>
</main>
