
p {
  margin-left: auto;
  margin-right: auto;
  max-width: 25cm;
}
ol{
  margin-left: auto;
  margin-right: auto;
  max-width: 23.8cm;
}
.poly_clip1 {
  float: left;
  shape-outside: polygon(2.2% 31.7%, 14.29% 18.21%, 27.58% 17.09%, 29.9% 6.15%, 36.05% 0.6%, 48.3% 5.17%, 55.04% 12.35%, 62.83% 27.57%, 68.63% 47.62%, 67.19% 71.89%, 61% 88.87%, 52.21% 88.01%, 42.14% 79.23%, 33.80% 93.55%, 21.52% 99.87%, 10.24% 95.51%, 2.45% 80.56%, -0.3% 58.77%);
  clip-path: polygon(2.2% 31.7%, 14.29% 18.21%, 27.58% 17.09%, 29.9% 6.15%, 36.05% 0.6%, 48.3% 5.17%, 55.04% 12.35%, 62.83% 27.57%, 68.63% 47.62%, 67.19% 71.89%, 61% 88.87%, 52.21% 88.01%, 42.14% 79.23%, 33.80% 93.55%, 21.52% 99.87%, 10.24% 95.51%, 2.45% 80.56%, -0.3% 58.77%);
}
.full_page {
  width: 100%;
}
.limit_to_div {
  max-width:100%;
  max-height:100%;
}
.poly_clip2 {
  float: right;
  shape-outside: polygon(43.15% 20.68%, 47.71% 10.14%, 52.71% 3.69%, 61.5% 4.45%, 64.83% 7.87%, 70.15% 1.31%, 79.1% 0.71%, 83.2% 5.02%, 83.44% 10.12%, 86.33% 16.64%, 95.67% 26.1%, 99.8% 41.59%, 99.38% 56.25%, 97.83% 61.99%, 98.25% 72.2%, 98.25% 80.85%, 97.28% 91.51%, 37.62% 100.78%, 35.9% 98.39%, 41% 91.35%, 42.17% 84.39%, 39.3% 77.02%, 34.86% 67.17%, 32.23% 57.05%, 31.45% 45.94%, 32.26% 33.52%, 36.76% 27.3%);
  clip-path: polygon(43.15% 20.68%, 47.71% 10.14%, 52.71% 3.69%, 61.5% 4.45%, 64.83% 7.87%, 70.15% 1.31%, 79.1% 0.71%, 83.2% 5.02%, 83.44% 10.12%, 86.33% 16.64%, 95.67% 26.1%, 99.8% 41.59%, 99.38% 56.25%, 97.83% 61.99%, 98.25% 72.2%, 98.25% 80.85%, 97.28% 91.51%, 37.62% 100.78%, 35.9% 98.39%, 41% 91.35%, 42.17% 84.39%, 39.3% 77.02%, 34.86% 67.17%, 32.23% 57.05%, 31.45% 45.94%, 32.26% 33.52%, 36.76% 27.3%);

}
.poly_clip3 {
  float: left;
  shape-outside: polygon(5.69% 18.23%, 10.72% 12.2%, 19.06% 5.58%, 47.67% 0.57%, 48.91% 9.45%, 53.19% 8.39%, 53.7% 11.14%, 49.92% 18.12%, 48.94% 25.68%, 59.49% 27.6%, 59.11% 31.18%, 61.47% 31.77%, 60.3% 37.43%, 57.87% 38.84%, 64.27% 42.32%, 62.89% 44.52%, 67.17% 48.34%, 61.06% 51.07%, 55.98% 56.18%, 57.41% 57.61%, 65.7% 62.93%, 66.02% 66.19%, 56.27% 69.89%, 63.7% 73.72%, 62.26% 75.84%, 54.4% 72.5%, 59.45% 83.85%, 59.62% 87.04%, 52.28% 84.95%, 48.49% 81.6%, 50.11% 97.38%, 47.59% 96.27%, 44.74% 93.47%, 41.63% 93.32%, 41.6% 99.07%, 18.14% 98.76%, 14.54% 96.76%, 12.42% 87.89%, 14.24% 85.38%, 8.48% 80.25%, 6.96% 79.72%, 5.18% 76.81%, 3.83% 75.31%, 3.11% 28.3%);
  clip-path: polygon(5.69% 18.23%, 10.72% 12.2%, 19.06% 5.58%, 47.67% 0.57%, 48.91% 9.45%, 53.19% 8.39%, 53.7% 11.14%, 49.92% 18.12%, 48.94% 25.68%, 59.49% 27.6%, 59.11% 31.18%, 61.47% 31.77%, 60.3% 37.43%, 57.87% 38.84%, 64.27% 42.32%, 62.89% 44.52%, 67.17% 48.34%, 61.06% 51.07%, 55.98% 56.18%, 57.41% 57.61%, 65.7% 62.93%, 66.02% 66.19%, 56.27% 69.89%, 63.7% 73.72%, 62.26% 75.84%, 54.4% 72.5%, 59.45% 83.85%, 59.62% 87.04%, 52.28% 84.95%, 48.49% 81.6%, 50.11% 97.38%, 47.59% 96.27%, 44.74% 93.47%, 41.63% 93.32%, 41.6% 99.07%, 18.14% 98.76%, 14.54% 96.76%, 12.42% 87.89%, 14.24% 85.38%, 8.48% 80.25%, 6.96% 79.72%, 5.18% 76.81%, 3.83% 75.31%, 3.11% 28.3%);

}

.font {
  font-family: Impact, Charcoal, sans-serif;
font-size: 32px;
letter-spacing: -0.2px;
word-spacing: 2.2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: justify;
}

#heading {
  text-align: center;
}
