<main class="main font">
  <h1 id="heading">Tomam un Robertai </h1>

  <img class="limit_to_div full_page" src="assets/img/rings.jpeg">
  <div>

    <p> Apvsveicam! Jūs esat izveidojuši stipru kommandu: burvis un dziednieks. Nekas nevarēs stāvēt jums priekšā
      (varbūt barbars,
      jūsu kompozīcija ir diezgan trausla).
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/wizard.jpeg">
  <img class="limit_to_div full_page" src="assets/img/healer.jpg">
  <div>
    <p>
      Kad iesiet savā piedzīvojumā, Toma spējas izdomāt risinājumu jebkurai problēmai būs nenovērtējamas, un
      Robertas spējas novērst jebkuru kaiti, mentālu vai fizisku, izmantojot savas kūkas, būs ļoti noderīgas.
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/high-five.jpg">
  <div>
    <p>
      Tomēr vienalga cik laba ir komanda, vienmēr pirms piedzīvojuma vajag sagatavoties, tapēc ļaujat mums piedāvāt īsu
      darāmo
      darbu sarakstu:
    </p>
  </div>
  <img class="limit_to_div full_page" src="assets/img/list.jpeg">
  <div>
    <p>
      1. Tagad tas ir oficiāli. Ir svarīgi pasaulei paziņot ka jūs esat abi vienā komandā, un ka nevienu citu jūs
      nemeklējat. Ir laiks spert drastisku soli uz priekšu ir laiks nomainīt savu facebook statusu. Ja tas ir jau
      drošsirdīgi izdarīts, var ķerties pie nākamā soļa!
    </p>
  </div>
  <div>
    <p>
      2. Tagad visi cilvēki skatās uz jums kā vienu vienību. Ir svarīgi nodibināt šīs vienības nosaukumu. Nosaukums ir
      ļoti svarīgs, tam jābūt viegli izrunājamam, un jāsignalizē par jūsu kopību. Vienības nosaukuma izdomāšana ir
      pilnība
      jūsu rīcībā, bet ja ir grūti izdomāt un šis solis jūs attur no progressa tad ļaujat mums palīdzēt! Šeit ir pāris
      ieteikumi:
      1) Toberta
      2) Ernerta
      3) Roms
      4) Robms
      5) Roberoms
      6) Robnests
    </p>
  </div>
  <div>
    <p>
      3. Vis, ar šo dienu otram cilvēkam nav nekādas izvēles, vairs aizbēgt prom nevar! Tapēc ir perfekts laiks atlkāt
      savu noslēpumu, vai jocīgo fetišu kuru turējāt pie sevis visu šo laiku aiz bailēm ka otrs komandas biedrs jūs
      pametīs vienu pašu, vai varbūt ir kautkāda pumpa kuru ir izdevies visu šo laiku noslēpt. Vienalga, kas tas būtu ir
      laiks to atklāt. Atklātība nostiprina uzticību un uzticība ir svarīga jebkurā gadījumā, vainu jums būtu jāiznīcina
      pūķis vai jāiznīcina kredīta maksājumi dzīvoklim. Ja jūs visu izstāstījāt varat doties uz nākamo soli.
    </p>
  </div>
  <div>
    <p>
      4. Jebkāda veida darbs cilvēku rases pārstāvim izraisa nogurumu, vainu tā būtu maģisko burvestību burošana, dziru
      dzirošana, datubāžu bāzošana vai arī likumu likumošana. Tapēc cilvēku rases pārstāvjiem ir nepieciešama atpūta (es
      nesaprotu kapēc jūs izvēlējāties cilvēku rasi elfi ir krutāki). Atceraties ka dažreiz šo atpūtas laiku vajag
      pavadīt kopā, tas iedod papildus bonusu priekam un nistiprina komandas sadarbību. Ja apsolat ka iesiet ikpalaikam
      uz randiņiem varat doties tālāk.
    </p>
  </div>
  <div>
    <p>
      5. Tas ir vis. Ja jūs šos soļus izpildīsiet jums būs lielākas izdevības izdīvot bīstamajā Latvijas savvaļā. Novēlu
      jums garu un produktīvu sadarbību.
    </p>
  </div>

</main>
